<div class="offerDetails__left-graph">
    <canvas id="offerDetailsCanvas" class=offerDetails__left-graph-canvas width="638" height="480"></canvas>
    <div id="offerDetailsGraphPopup" class="offerDetails__left-graph-popup-wrapper">

    </div>
</div>