@use "../../abstracts/variables" as *;
.offerCreate__address {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;

  &-form {
    display: flex;
    gap: 20px;
    justify-content: space-between;

    @media (max-width: 730px) {
      flex-direction: column;
    }
  }

  &-address {
    width: 60%;

    @media (max-width: 730px) {
      width: 100%;
    }
  }

  &-inputs-floor {
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: 60%;
    align-content: center;
    justify-content: center;
    vertical-align: center;

    @media (max-width: 730px) {
      width: 100%;
    }

    span {
      font-size: 32px;
      color: $grey;
    }
  }

  &-map {
    //width: 99%;
    height: 250px;
    @media (max-width: 500px) {
      height: 350px;
    }
  }
}