{{#> OfferCreateLayout }}
<div class="offerCreate__description">
    <h3 class="offerCreate__description-title">
        Описание
    </h3>
    <textarea id="input-description" class="offerCreate__description-textarea" name="description" maxlength="500"></textarea>
</div>
{{/ OfferCreateLayout }}