<div class="characteristics__part {{class}}">
    <div class="characteristics__icon">
        <i class="{{icon-class}}"></i>
    </div>
    <div class ="characteristics__text">
        <div class="characteristics__text__name">
            <span>{{ label }}</span>
        </div>
        <div class="characteristics__text__content">
            <span>
                {{ content }}
            </span>
        </div>
    </div>
</div>