<ul id={{id}} class="filter__check-list">
    {{#each elements}}
    <li class="filter__check-elem">
        <div class="filter__check-elem-checkbox">
            <i class="fa-solid fa-check"></i>
        </div>
        <span class="filter__check-elem-text">{{this}}</span>
    </li>
    {{/each}}
</ul>