<header class="header" id="header">
    <div class="container">
        <div class="header__inner">
            {{> Logo }}
            <div class="header__right">
                <div class="header__icons">
                    <a class="header__favour-href" id="favoritesButton" href="/profile/favorites">
                        <i class="fa-regular fa-heart"></i>
                    </a>
                    <a class="header__notice-href" href="/">
                        <i class="fa-regular fa-bell"></i>
                    </a>
                </div>
                <div class="header__auth" id="header-auth" style="display: none">
                    <a href="/profile" id="profile-href">
                        <div class="header__auth">
                            <span class ="header__name"></span>
                            {{> UserAvatar class="header__avatar" avatar="/img/userAvatar/unknown.svg" }}
                        </div>
                    </a>
                </div>
                <div class="header__auth" id="header-unauth">
                    {{> LightButton name="Регистрация" id="registerButton"}}
                    {{> LightButton name="Вход" id="loginButton"}}
                </div>
            </div>
        </div>
    </div>
</header>