<header class="header" id="header-authorized" style="display: none">
    <div class="container">
        <div class="header__inner">
            {{> Logo }}
            <div class="header__right">
                <div class="header__icons">
                    <a class="header__favour-href" id="favoritesButton" href="/profile/favorites">
                        <i class="fa-regular fa-heart"></i>
                    </a>
                    <a class="header__notice-href" href="/">
                        <i class="fa-regular fa-bell"></i>
                    </a>
                </div>
                <div class="header__auth">

                </div>
            </div>
        </div>
    </div>
</header>