<div class="overlay">
    <div class="login">
        <div id="loginCloseButton" class="login__close">
            &times;
        </div>
        <div class="login__inner">
            <div class="login__logo">
                <img class="login__logo-img" src="../../../resources/img/logo/logo.svg" alt="">
            </div>
            <h3 class="login__title">Войти или зарегистрироваться</h3>
            <form id="login-form" class="login__form" method="post" enctype="multipart/form-data" novalidate>
                {{> Input id="emailInput" type="email" name="email" placeholder="Email"}}
                {{> Input id="passwordInput" type="password" name="password" placeholder="Пароль"}}
                {{> PrimaryButton name="Войти" class="login__submit" id="loginSubmitButton"}}
                {{> LightButton name="Зарегистрироваться" class="register__href" id="registerHrefButton"}}
            </form>
        </div>
    </div>
</div>