@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

:root{
    --blue: #0468FF;
    --blue-hover:#055DE1;
    --grey: #737A8E;
    --white: #FFFFFF;
    --black-text: #152242;
    --bluish: #E6F0FF;
    --bluish-hover: #D9E8FF;
    --darker-blue: #0661EC;
    --blue-shadow: #68A4FF;
    --light-grey: #C9D1E5;
    --milk: #FFE9EB;
    --black: #131313;
    --red: #D1152C;
    --red-darker: #DB1F36;
    --blue-link: #2B87DB;
    --blue-link-hover: #1A62A6;
}

*, *::after, *::before {
    box-sizing: border-box;
    outline: none; border: none;
    text-decoration: none;
    /*transition: .2s linear;*/
}

html, body, #root {
    width: 100%;
    height: 100%;
}

body {
    font-family: "Lato", sans-serif;
    margin: 0; padding: 0;
    font-weight: 400;
    font-size: 1em;
    color: var(--black-text);
}

h1 {
    font-size: 38px;
}

h2 {
    font-size: 1.75em;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

input {
    outline: none;
}

select, button {
    font-family: inherit;
    font-size: inherit;
}

button {
    background: none;
    padding: 0;
    cursor: pointer;
}

.container {
    max-width: 1600px;
    margin: 0 auto;
    padding: 0 125px;
}

/**************************************************************/
/* Logo */
/**************************************************************/

.logo {
    display: flex;
    justify-content: space-between;
    gap: 1em;
}

.logo-href {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.logo__title {
    font-size: 1.75em;
    font-weight: 500;
    align-content: center;
}

/**************************************************************/
/* Header */
/**************************************************************/
.header {
    background-color: var(--white);
    position: fixed;
    top: 0; left: 0; right: 0;
    z-index: 100;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4.375em;
}

.header__right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1em;
}

.header__icons {
    height: 2em;
    display: flex;
    justify-content: space-between;
    gap: 1em;
    align-items: center;
}

.header__icons a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    fill: var(--grey);
    transition: fill 0.5s ease;
}

.header__icons a:hover {
    fill: var(--black-text)
}

.header__favour-href, .header__notice-href {
    width: 20px;
    height: 20px;
}

.header__auth {
    display: flex;
    justify-content: space-between;
    gap: 1em;
}

.user-image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

/**************************************************************/
/* PrimaryButton */
/**************************************************************/

.primary-btn {
    padding: 0.5em 1em;
    font-size: 1em;
    background-color: var(--darker-blue);
    color: var(--white);
    border-radius: 6px;
    transition: background-color 0.5s ease;
}

.primary-btn:hover {
    background-color: var(--blue-hover);
}

/**************************************************************/
/* LightButton */
/**************************************************************/

.light-btn {
    padding: 0.5em 1em;
    font-size: 1em;
    background-color: var(--bluish);
    color: var(--darker-blue);
    border-radius: 6px;
    transition: background-color 0.5s ease;
}

.light-btn:hover {
    background-color: var(--bluish-hover);
}

/**************************************************************/
/* BackgroundlessButton */
/**************************************************************/

.backgroundless-button {
    color: var(--blue-link);
    font-size: 1em;
    transition: color 0.5s ease;
}

.backgroundless-button:hover {
    color: var(--blue-link-hover);
}

/**************************************************************/
/* SelectButton */
/**************************************************************/

.select-button select {
    padding: 0.75em 2.2em;
    height: 3em;
    border-radius: 6px;
    background-color: var(--white);
}

/**************************************************************/
/* HeartButton */
/**************************************************************/

.heart {
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.35);
    stroke: var(--white);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    padding: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.5s ease;
}

.heart:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.heart-active{ 
    stroke: var(--red);
}

/**************************************************************/
/* Card */
/**************************************************************/

.card {
    width: calc(100% / 4 - 20px);
    display: flex;
    flex-direction: column;
    border-radius: 12px;
    position: relative;
    border: 1px solid var(--light-grey) ;
}

.card__heart {
    position: absolute;
    z-index: 1;
    right: 8px;
    top: 8px;
    width: fit-content;
    height: fit-content;
}

.card__photo {
    position: relative;
    height: 0;
    padding-bottom: 75%;
    background-color: #fff;
    border-radius: 8px 8px 0 0;
}

.card__photo-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.card__content {
    padding: 1em;
    display: flex;
    flex-direction: column;
    gap: 0.35em;
}

.card__price {
    font-size: 1.375em;
    font-weight: 700;
}

.card__info ul {
    display: flex;
    gap: 0.35em;
}

.card__address {
    color: var(--grey);
}

/**************************************************************/
/* Input */
/**************************************************************/

.input {
    width: 100%;
}

.input input {
    width: 100%;
    color: var(--black-text);
    font-size: 1em;
    height: 2.5em;
    padding: 1em 0.625em;
    border: 1px solid var(--light-grey);
    border-radius: 6px;
    transition:
        border-color 0.5s ease,
        box-shadow 0.5s ease;
}

.input input::placeholder {
    color: var(--grey);
    font-weight: 500;
}

.input input:hover{
    border-color: var(--black-text) ;
}

.input input:focus {
    border-color: var(--darker-blue);
    box-shadow: 0 0 4px var(--blue-shadow);
}

.input input:invalid {
    border-color: var(--red-darker);
    box-shadow: 0 0 4px var(--red-darker);
}

.input .alert {
    color: var(--red)
}

.error {
    color: var(--red);
    margin-top: 5px;
    opacity: 0;
}

.error__visible {
    opacity: 1;
}

/**************************************************************/
/* Login */
/**************************************************************/

.overlay {
    z-index: 1000;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s ease, visibility 0.2s ease;
}

.overlay.active {
    opacity: 1;
    visibility: visible;
}

.login {
    z-index: 1001;
    position: absolute;
    top: 50%;
    left: 50%;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s ease, visibility 0.2s ease;
    transform: translate(-50%, -50%) scale(1);
    width: 22.5em;
    padding: 3.125em;
    background-color: var(--white);
    border-radius: 12px;
}

.login.active {
    top: 50%;
    opacity: 1;
    visibility: visible;
}

.login__close {
    position: absolute;
    top: 14px;
    right: 14px;
    width: 14px;
    height: 14px;
    text-align: center;
    cursor: pointer;
    stroke: var(--grey);
    transition: stroke 0.5s ease;
}

.login__close:hover {
    stroke: var(--black-text);
}

.login__title {
    text-align: center;
    font-weight: 500;
    font-size: 1.375em;
}

.login__inner, .login__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

.login__form {
    width: 100%;
}

.login__logo-img {
    height: 80px;
    width: 80px;
}

.login__submit, .register__href {
    width: 100%;
}