{{#> BaseModal id="login"}}
    <div class="login__inner">
        <div class="login__logo">
            <img class="login__logo-img" src="/img/logo/logo.svg" alt="">
        </div>
        <h3 class="login__title">Войти или зарегистрироваться</h3>
        <form id="login-form" class="login__form" method="post" enctype="multipart/form-data" novalidate>
            {{> Input id="emailInput" type="email" name="email" placeholder="Email" maxlength="32" autocomplete="username"}}
            {{> PasswordInput id="loginPassword" type="password" name="password" placeholder="Пароль" maxlength="32"}}
            {{> PrimaryButton name="Войти" class="login__form-submit" id="loginSubmitButton"}}
            {{> LightButton name="Зарегистрироваться" class="login__form-register" id="registerHrefButton"}}
        </form>
        <div id="login-api-error" class="error"></div>
    </div>
{{/BaseModal}}