{{#> OfferCreateLayout }}
<div id="offerCreateParams" class="offerCreate__params">
    <div class="offerCreate__params-row">
        <div class="offerCreate__params-rooms">
            {{> ChoiceButtons label="Количество комнат" name="roomsAmount" choices=(split '1;2;3;4+')}}
        </div>
        <div class="offerCreate__params-square">
            <div class="offerCreate__input">
                <label for="input-square" class="offerCreate__input-label">Площадь</label>
                {{> Input id="input-square" type="text"}}
            </div>
        </div>
    </div>
    <div class="offerCreate__params-renovation">
        {{> ChoiceButtons label="Тип ремонта" name="renovationType" choices=(split 'Современный ремонт;Косметический ремонт;Черновая отделка;Нужен полный ремонт;Нужен частичный ремонт;Улучшенная черновая') }}
    </div>
</div>
{{/ OfferCreateLayout }}