{{#> OfferEditLayout }}
<div class="offerCreate__price">
    <div class="offerCreate__price-calculation">
        <div class="offerCreate__price-calculation-text">
            <h4 class="offerCreate__price-calculation-title">
                Расчет предположительной стоимости
            </h4>
            <span class="offerCreate__price-calculation-descr">
                Мы рассчитываем рыночную стоимость на основе стоимости проданных и находящихся в продаже похожих квартир.
            </span>
        </div>
        <div class="offerCreate__price-calculation-block">
            <div class="offerCreate__price-calculation-info">
                <h4 class="offerCreate__price-calculation-price">50 млн ₽</h4>
                <div class="offerCreate__price-calculation-label">
                    <span>200 000 Р/м²</span>
                    <span>Рыночная стоимость</span>
                </div>

            </div>
            <div class="offerCreate__price-calculation-info">
                <h4 class="offerCreate__price-calculation-price">48 - 52 млн ₽</h4>
                <div class="offerCreate__price-calculation-label">
                    <span>Возможный</span>
                    <span>диапазон стоимости</span>
                </div>
            </div>
        </div>
    </div>
    <div class="offerCreate__price-input">
        <div class="offerCreate__input">
            <label for="input-price" class="offerCreate__input-label">Цена, ₽</label>
            {{> Input id="input-price" name="offer_price" type="tel"}}
        </div>
    </div>
</div>
{{/ OfferEditLayout }}