@use "../../abstracts/variables" as *;
.profile__left {
  min-width: 20%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-right: 1px solid $grey;
  padding-right: 10px;

  @media (max-width: 1000px)  {
    display: none;
  }

  &-info {
    display: flex;
    flex-direction: column;
    gap: 15px;
    border-bottom: 1px solid $grey;
    padding: 10px;
  }

  &-nav {
    display: flex;
    flex-direction: column;
    gap: 3px;

    &-btn {
      background-color: $white;
      color: $profile-color-text;
      border-radius: 6px;
      width: 100%;
      text-align: start;
      padding: 8px;
      transition: .2s linear;

      &:hover, &.active {
        background-color: $grey2;
      }
    }
  }
}

