<div class="nav__menu">
    <ul class="nav__list">
        <li class="nav__list-item">
            <a class="nav__list-item-href" href="/">
                <i class="nav__list-item-icon fa-regular fa-heart"></i>
                <span class="nav__list-item-name">Избранное</span>
            </a>
        </li>
        <li class="nav__list-item">
            <a class="nav__list-item-href active-href" href="/">
                <i class="nav__list-item-icon fa-regular fa-bell"></i>
                <span class="nav__list-item-name">Уведомления</span>
            </a>
        </li>
        <li class="nav__list-item">
            <a class="nav__list-item-href" href="/">
                <i class="nav__list-item-icon fa-regular fa-user"></i>
                <span class="nav__list-item-name">Профиль</span>
            </a>
        </li>
    </ul>
</div>