{{#> MainLayout}}
    <div class="housingComplex">
        <div id="housingComplexSlider">
            {{> HousingComplexSlider data=data}}
        </div>
        <div class="housingComplex__information">
            <div class="container">
                <div class="housingComplex__information-inner" id="housingComplexInformation">
                    {{> HousingComplexInformation data=data}}v
                </div>
            </div>
        </div>
    </div>
{{/MainLayout}}