<div class="offerDetails__left-slider">
    <img src="../../../resources/img/card/photo.jpg" alt="">
</div>
<div class="offerDetails__left-previews">
    <img src="../../../resources/img/card/photo.jpg" alt="">
    <img src="../../../resources/img/card/photo.jpg" alt="">
    <img src="../../../resources/img/card/photo.jpg" alt="">
</div>