{{#> MainLayout}}
<div class="search">
    <div class="container">
        <div class="search__inner">
            {{> Filter }}
            <div class="search__results">
                <h2 class="search__results-title">
                   Найдено 60 736 объявлений
                </h2>
                <div class="search__results-list">
                    {{> SearchOffer title="Продаётся 1-комн. квартира, 30 м²"
                        price="52 000 000 ₽" address="Славянский бул., 13К1"
                        rooms="1" square="30" floor="5" totalFloors="5"
                        metroStation="Славянский бульвар"
                        description="Уютная квартира с двумя спальными комнатами, панорамными окнами и балконами. 'Фрунзенская набережная' - неповторимый элитный клубный город-парк в престижном и желанном месте на Фрунзенской набережной, где нет..."
                        name="Антон"
                        surname="Чехов"
                        rating="4.7"
                        reviewsAmount="14"
                    }}

                    {{> SearchOffer title="Продаётся 1-комн. квартира, 30 м²"
                        price="52 000 000 ₽" address="Славянский бул., 13К1"
                        rooms="1" square="30" floor="5" totalFloors="5"
                        metroStation="Славянский бульвар"
                        description="Уютная квартира с двумя спальными комнатами, панорамными окнами и балконами. 'Фрунзенская набережная' - неповторимый элитный клубный город-парк в престижном и желанном месте на Фрунзенской набережной, где нет..."
                        name="Антон"
                        surname="Чехов"
                        rating="4.7"
                        reviewsAmount="14"
                    }}
                </div>
            </div>
        </div>
    </div>
</div>
{{/MainLayout}}