{{#> MainLayout grey=true}}
<div class="search">
    <div class="container">
        <div class="search__inner">
            {{> Filter }}
            <div id="searchResults" class="search__results">
                <h2 class="search__results-title" id="search-result-title">
                   Найдено - объявлений
                </h2>
                <div class="search__results-list">
                    <div id="searchResultsEmpty" class="search__results-empty">
                        К сожалению, по текущим параметрам подходящих объявлений не нашлось( Попробуйте изменить параметры фильтра!
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{/MainLayout}}