{{#> MainLayout grey=true}}
    <div class="searchMap">
        <div class="container">
            <div class="searchMap__inner">
                {{> Filter }}
                <div class="searchMap__results">
                    <h2 class="searchMap__results-title" id="searchMap-result-title">
                        Найдено - объявлений
                    </h2>
                </div>
            </div>
        </div>
        <div class="searchMap__results-container">
            <div class="searchMap__results-wrapper">
                <div class="searchMap__results-list-wrapper">
                    <div id="searchMapResults" class="searchMap__results-list">
                        <div id="searchMapResultsEmpty" class="searchMap__results-empty">
                            К сожалению, по текущим параметрам подходящих объявлений не нашлось( Попробуйте изменить параметры фильтра!
                        </div>
                    </div>
<!--                    {{> Paginator }}-->
                </div>
                <div id="searchMapResultsMap" class="searchMap__results-map">
                    <div id="searchMapResultsFullscreen" class="searchMap__results-map-control searchMap__results-map-fullscreen">

                    </div>
                    <div id="searchMapResultsListHref" class="searchMap__results-map-control searchMap__results-map-back">

                    </div>
                </div>
            </div>
        </div>
    </div>
{{/MainLayout}}