<div class="offer__stats {{class}}">
    <div class="offer__stats-block">
        <div class="offer__stats-block-img">
            <i class="fa-regular fa-eye fa-sm"></i>
            <span>{{views}}</span>
        </div>
    </div>
    <div class="offer__stats-block">
        <div class="offer__stats-block-img">
            <i class="fa-regular fa-thumbs-up fa-sm"></i>
            <span>{{likes}}</span>
        </div>
    </div>
    <div class="offer__stats-block">
        <div class="offer__stats-block-img">
            <i class="fa-regular fa-heart fa-sm"></i>
            <span>{{favorites}}</span>
        </div>
    </div>
</div>