{{#> OfferCreateLayout }}
<div class="offerCreate__type">
    <h2 class="offerCreate__type-title">
        Тип сделки
    </h2>
    <div id="offerCreateChoices" class="offerCreate__choices">
        {{> ChoiceButtons label="Вид недвижимости" name="purchaseType" choices=(split 'Вторичка;Новостройка') }}
        {{> ChoiceButtons label="Тип объявления" name="offerType" choices=(split 'Продажа;Аренда') }}
        {{> ChoiceButtons label="Тип недвижимости" name="propertyType" choices=(split 'Квартира;Дом;Апартаменты') }}
    </div>
</div>
{{/ OfferCreateLayout }}