{{#> MainLayout}}
    <div class="offerCreate">
        <div class="container">
            <div class="offerCreate__inner">
                {{> OfferCreateTitle }}
                <div class="offerCreate__main">
                    <div class="offerCreate__photos">

                    </div>
                    {{> OfferCreateBtns }}
                </div>
                {{> OfferCreateNav }}
            </div>
        </div>
    </div>
{{/MainLayout}}