{{#> OfferEditLayout grey=true}}
<div class="offerCreate__type">
    <h2 class="offerCreate__type-title">
        Тип сделки
    </h2>
    <div id="offerCreateChoices" class="offerCreate__choices-col">
        <div class="offerCreate__choices">
            {{> ChoiceButtons label="Вид недвижимости" name="input-purchase-type" choices=(split 'Вторичка;Новостройка') }}
            {{> ChoiceButtons label="Тип недвижимости" name="input-property-type" choices=(split 'Квартира;Дом;Апартаменты') }}
        </div>
        <div class="offerCreate__choices">
            {{> ChoiceButtons label="Тип объявления" name="input-offer-type" choices=(split 'Продажа;Аренда') }}
            {{> ChoiceButtons label="Тип аренды" name="input-rent-type" choices=(split 'Посуточно;Долгосрок') }}
        </div>
    </div>
</div>
{{/ OfferEditLayout }}