<div class="offerCreate__nav-stage">
    <button class="offerCreate__nav-stage-point-disabled" id="{{id}}Button">
        <i class="{{class}} fa-2x"></i>
    </button>
    <span class="offerCreate__nav-stage-title-disabled" id="{{id}}Title">{{name}}</span>
</div>