<link rel="stylesheet" href="/style/pages/register.css">
<header class="header">
    <div class="container">
        <div class="header__inner">
            {{> Logo }}
        </div>
    </div>
</header>
<div class="register">
    <div class="container">
        <div class="register__inner">
            <h2 class="register__title">
                Регистрация
            </h2>
            <form id="register-form" class="register__form">
                <div class="register__nickname">
                    {{> Input id="registerFirstName" type="text" name="firstName" placeholder="Имя"}}
                    {{> Input id="registerSecondName" type="text" name="lastName" placeholder="Фамилия"}}
                </div>
                {{> Input id="registerEmail" type="email" name="email" placeholder="Email"}}
                {{> Input id="registerPassword" type="password" name="password" placeholder="Пароль"}}
                {{> Input id="registerConfirmPassword" type="password" name="confirmPassword" placeholder="Подтвердите пароль"}}

                <div class="register__already">
                    <a href="/">У вас уже есть профиль?</a>
                </div>
                {{> PrimaryButton name="Зарегистрироваться" class="register__submit" id="registerSubmitButton"}}
            </form>
        </div>
    </div>
</div>
<div class="right">
    <img class="right-img" src="../../../resources/img/register/right.jpg" alt="">
</div>