@import './HousingComplexParts/Carousel.css';
@import './HousingComplexParts/Information.css';
@import './HousingComplexParts/Reviews.css';

.carousel-wrapper {
    max-width: 1920px;
    margin: 0 auto;
}

#housing-complex-map {
    width: 100%; height: 30em; padding: 0; margin: 0;
}