.carousel__pictures {
    display: flex;
    flex-direction: row;
    transition: transform 0.5s ease-in-out;
    height: 100%;
}

.carousel__image {
    flex: 0 0 100%;
    height: 100%;
}

.carousel__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}