<div class="filter__select">
    <button id="{{id}}" class="filter__select-button {{class}}">{{name}}</button>
    <div id="filterSelectPopup" class="filter__select-popup">
        {{> FilterCheckList id=id elements=(split 'dada;bebebe')}}
    </div>
</div>