<div class="filter__select">
    <button class="filter__select-button {{class}}">{{label}}</button>
    <div id="filterSelectPopup" class="filter__select-popup">
        {{> FilterCheckList id=id elements=(split choices )}}
    </div>
</div>