@use "../abstracts/variables" as *;
.card {
  width: calc(100% / 4 - 1.6em);
  display: flex;
  flex-direction: column;
  border-radius: 12px;
  position: relative;
  border: 1px solid $light-grey;
  transition: .2s linear;

  @media (max-width: 1100px) {
    width: calc(100% / 3 - 1.6em);
  }

  @media (max-width: 760px) {
    width: calc(100% / 2 - 1.6em);
  }

  @media (max-width: 500px) {
    width: 100%;
  }

  &:hover {
    border-color: $blue-hover;
  }

  &__heart {
    position: absolute;
    z-index: 1;
    right: 8px;
    top: 8px;
    width: fit-content;
    height: fit-content;
  }

  &__photo {
    position: relative;
    height: 0;
    padding-bottom: 75%;
    background-color: #fff;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;

    &-img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-top-left-radius: 11px;
      border-top-right-radius: 11px;
    }
  }

  &__content {
    padding: 1em;
    display: flex;
    flex-direction: column;
    gap: 0.35em;
  }

  &__price {
    font-size: 1.375em;
    font-weight: 700;

    @media (max-width: 500px) {
      font-size: 1.1em;
    }

    @media (max-width: 400px) {
      font-size: 1em;
    }

  }

  &__info ul {
    display: flex;
    gap: 0.35em;

    @media (max-width: 500px) {
      flex-direction: column;
    }

    li {
      @media (max-width: 500px) {
        font-size: 14px;
      }
    }
  }

  &__metro {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;

    @media (max-width: 500px) {
      display: none;
    }
  }

  &__address {
    color: $grey;

    @media (max-width: 500px) {
      display: none;
    }
  }
}

.search__card {
  width: calc(100% / 2 - 20px);

  @media (max-width: 900px) {
    width: calc(100% - 20px);
  }
}