@use "../abstracts/variables" as *;
.choice__buttons {
  display: flex;
  flex-direction: column;
  gap: 20px;

  &-label {
    font-size: 22px;
    font-weight: 400;
    white-space: nowrap;

    @media (max-width: 500px) {
      font-size: 18px;
    }
  }

  &-btns {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
  }
}