@use "../abstracts/variables" as *;
.choice {
  &-button {
    display: none;
  }

  &-label {
    display: inline-block;
    cursor: pointer;
    padding: 8px 15px;
    border: 1px solid $light-grey;
    border-radius: 6px;
    user-select: none;
  }

  &-button:checked + &-label {
    background-color: $btn-bg-2;
    border: 1px solid $darker-blue;
    color: $darker-blue;
  }

  &-button:disabled + &-label {
    cursor: not-allowed;
    opacity: 0.5;
  }
}