@use "../abstracts/variables";

.cluster {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #1E88E5;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 16px;
}