@use "../abstracts/variables" as *;
.gray-btn {
  text-align: center;
  padding: 0.5em 1em;
  font-size: 1em;
  background-color: $grey4;
  color: $black-text;
  border-radius: 6px;
  transition: background-color 0.2s ease;
}