@use "../abstracts/variables" as *;

.marker {
  position: absolute;
  &__icon {
    position: relative;
    left: -21px;
    top: -24px;
  }

  &.highlight &__icon {
    filter: invert(16%) sepia(99%) saturate(7404%) hue-rotate(4deg) brightness(95%) contrast(118%);
  }
}