@use "../abstracts/variables" as *;
.metro__icon {
  width: 17px;
  height: 12px;
  -webkit-mask-image: url('/public/img/card/metro.svg');
  mask-image: url('/public/img/card/metro.svg');
  -webkit-mask-size: cover;
  mask-size: cover;
}