@use "../abstracts/variables" as *;
.slider {

  &__images {
    display: flex;
    transition: transform 0.5s ease-in-out;
    height: 100%;
    align-items: center;

    &-wrapper {
      flex-basis: auto;
      position: relative;
      overflow: hidden;
      width: 100%;
    }

    &-image {
      flex: 0 0 100%;
      height: 100%;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
      }
    }

    &-controls {
      display: none;
      width: 100%;
      position: absolute;
      top: 50%;
      justify-content: space-between;
      transform: translateY(-50%);

      &.active {
        display: flex;
      }
    }

  }

  &__previews {
    z-index: 3;
    display: flex;
    gap: 20px;
    width: 80%;
    transition: transform 0.5s ease-in-out;

    &-wrapper {
      overflow: hidden;
      position: relative;
      display: none;
      justify-content: center;
      width: 100%;

      &.active {
        display: flex;

        @media (max-width: 730px) {
          display: none;
        }
      }
    }

    &-preview {
      border-radius: 6px;
      min-width: 100px;
      min-height: 80px;
      transition: scale 0.5s ease-in-out;

      @media (max-width: 730px) {
        min-width: 80px;
      }

      &:hover img {
        border: 1.5px solid $blue;
        cursor: pointer;
      }

      &.active img {
        border: 1.5px solid $blue;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
      }
    }

    &-control {
      z-index: 5;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-around;

      .chevron {
        font-size: 16px;
        width: 28px;
        height: 28px;
        padding: 6px;
      }
    }
  }
}