.profile__preview {
  display: flex;
  align-items: center;
  border: 1px solid $light-grey;
  padding: 10px;
  gap: 10px;

  img {
    width: 68px;
    height: 52px;
  }

  &-right {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &-address {
    color: $grey;
  }
}