@use "../abstracts/variables" as *;
.profile__preview {
  display: flex;
  border: 1px solid $light-grey;
  padding: 10px;
  gap: 10px;
  transition: 0.2s background-color ease-in-out;

  &:hover {
    background-color: $light-grey;
    cursor: pointer;
  }

  img {
    width: 68px;
    height: 52px;
  }

  &-right {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &-address {
    color: $grey;
  }
}