@use "../abstracts/variables" as *;

.profile__side-button {
  display: none;
  position: absolute;
  top: 25vh;
  left: 0;
  transform: translateY(-50%);
  background: $white;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  padding: 10px 12px;
  z-index: 1100;
  cursor: pointer;

  @media (max-width: 1000px) {
    display: block;
  }

  @media (max-width: 750px) {
    padding: 10px 5px;
  }
}