.select-button {
  position: relative;

  select {
    min-width: 240px;
    padding: 0.625em 1em;
    height: 2.5em;
    border-radius: 6px;
    background-color: $white;

    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url('/public/img/filter/chevron.svg');
    background-size: 16px 16px;
    background-repeat: no-repeat;
    background-position: right 12px top 50%;
  }

}