@use "../../abstracts/variables" as *;
.housingComplex__info {
    display: flex;
    flex-direction: row;
    position: relative;
    gap: 40px;
    margin-top: 20px;
    padding-bottom: 50px;

    @media (max-width: 1060px) {
        flex-direction: column-reverse;
    }

    &-main {
        flex: 1 1 75%;
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    &-block {
        display: flex;
        flex-direction: column;
        gap: 10px;

        &-header {
            color: $black-text;
            font-size: 22px;

            @media (max-width: 500px) {
                font-size: 18px;
            }
        }

        &-address {
            font-size: 28px;
            font-weight: bold;

            @media (max-width: 500px) {
                font-size: 22px;
            }
        }

        &-metro {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 5px;
        }

        &-characteristics {
            display: grid;
            row-gap: 15px;
            column-gap: 15px;
            grid-template-columns: 1fr 1fr 1fr;

            @media (max-width: 730px) {
                grid-template-columns: 1fr 1fr;
            }
        }
    }

    &-characteristic {
        flex: 1 1 33%;
        display: flex;
        align-items: center;
        gap: 10px;
        padding: 10px 0;

        @media (max-width: 500px) {
            gap: 5px;
            flex-direction: column;
        }
    }

    &-apartments {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    &-apartment {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 10px 0;
        border-bottom: 1px solid $light-grey;

        &-info {
            display: flex;
            flex-direction: column;
            gap: 10px;
        }

        &-square {
            font-weight: bold;
        }

        &-price {
            color: $grey;
        }

        &-offers {
            display: flex;
            align-items: center;
            gap: 10px;
        }
    }

    &-description {
        line-height: 2;

        @media (max-width: 500px) {
            font-size: 14px;
        }
    }

    &-aside {
        flex: 1 1 25%;
        position: sticky;
        height: fit-content;
        top: 70px;
        display: flex;
        flex-direction: column;
        gap: 10px;

        @media (max-width: 1060px) {
            position: initial;
            top: 0;
        }

        &-developer {
            font-size: 16px;
        }

        &-header {
            color: $grey;
        }

        &-btns {
            display: flex;
            flex-direction: column;
            gap: 10px;
        }

        &-btn {
            width: 100%;
        }
    }

    &-map {
        width: 100%;
        height: 30em;
        padding: 0;
        margin: 0;
    }
}