@use "../../abstracts/variables" as *;
.housingComplex__slider {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 500px;

    &-wrapper {
        display: flex;
        width: 100%;
        justify-content: space-between;
        position: absolute;
        bottom: 0;
        padding: 0 120px;

        @media (max-width: 900px) {
            flex-direction: column;
        }

        @media (max-width: 500px) {
            padding: 0 10%;
        }
    }

    &-information {
        padding: 10px;
        display: flex;
        flex-direction: column;
        gap: 10px;

        &-row, &-prices {
            gap: 20px;
            width: fit-content;
            font-size: 18px;
        }

        &-row, &-rating {
            display: flex;
            flex-direction: row;
        }

        &-rating {
            gap: 10px;
        }

        &-name {
            font-size: 38px;

            @media (max-width: 730px) {
                font-size: 28px;
            }

            @media (max-width: 500px) {
                font-size: 22px;
            }
        }
    }

    &-text {
        background-color: rgba(0, 0, 0, 0.4);
        padding: 10px 10px;
        color: $white;
        border-radius: 6px;
        width: max-content;
    }

    &-controls {
        display: flex;
        flex-direction: row;
        gap: 24px;
        align-items: end;
        padding: 10px;

        @media (max-width: 500px) {
            padding: 10px 0;
        }

        &-counter {
            gap: 20px;
            width: fit-content;
            font-size: 18px;
            height: 40px;
            padding: 10px 20px;
        }
    }
}

.rating-star {
    color: $orange;
}