<div class="offerCreate__nav">
    <div class="offerCreate__stage">
        <button class="offerCreate__point" id="typePageButton">
            <i class="fa-solid fa-circle-check fa-2x"></i>
        </button>
        <span class="offerCreate__stage-title">Тип сделки</span>
    </div>

    <div class="offerCreate__rect"></div>

    <div class="offerCreate__stage">
        <button class="offerCreate__point" id="addressPageButton">
            <i class="fa-regular fa-circle-dot fa-2x"></i>
        </button>
        <span class="offerCreate__stage-title">Адрес</span>
    </div>

    <div class="offerCreate__rect"></div>

    <div class="offerCreate__stage">
        <button class="offerCreate__point" id="paramsPageButton">
            <i class="fa-regular fa-circle fa-2x"></i>
        </button>
        <span class="offerCreate__stage-title">Параметры</span>
    </div>

    <div class="offerCreate__rect"></div>

    <div class="offerCreate__stage">
        <button class="offerCreate__point" id="pricePageButton">
            <i class="fa-regular fa-circle fa-2x"></i>
        </button>
        <span class="offerCreate__stage-title">Цена</span>
    </div>

    <div class="offerCreate__rect"></div>

    <div class="offerCreate__stage">
        <button class="offerCreate__point" id="photosPageButton">
            <i class="fa-regular fa-circle fa-2x"></i>
        </button>
        <span class="offerCreate__stage-title">Фотографии</span>
    </div>

    <div class="offerCreate__rect"></div>

    <div class="offerCreate__stage">
        <button class="offerCreate__point" id="descriptionPageButton">
            <i class="fa-regular fa-circle fa-2x"></i>
        </button>
        <span class="offerCreate__stage-title">Описание</span>
    </div>
</div>