<div class="characteristic {{class}}">
    <div class="characteristic__icon">
        <i class="{{icon-class}}"></i>
    </div>
    <div class ="characteristic__text">
        <div class="characteristic__text-name">
            <span>{{ label }}</span>
        </div>
        <div class="characteristic__text-content">
            <span>
                {{ content }}
            </span>
        </div>
    </div>
</div>