{{#> MainLayout}}
    <div class="profile">
        <div class="container">
            {{> ProfileSideButton }}
            <div class="profile__inner">
                {{> ProfileLeft }}
                <div id="profileRight" class="profile__right show">
                    {{> @partial-block }}
                </div>
            </div>
        </div>
    </div>
{{/MainLayout}}