{{#> MainLayout}}
    <div class="profile">
        <div class="container">
            <div class="profile__inner">
                {{> ProfileLeft }}
                <div class="profile__right">
                    {{> @partial-block }}
                </div>
            </div>
        </div>
    </div>
{{/MainLayout}}