<div class="offerCreate__nav">
    {{> OfferCreateStage id="typePage" class="fa-regular fa-circle" name="Тип сделки"}}

    <div class="offerCreate__nav-rect"></div>

    {{> OfferCreateStage id="addressPage" class="fa-regular fa-circle" name="Адрес"}}

    <div class="offerCreate__nav-rect"></div>

    {{> OfferCreateStage id="paramsPage" class="fa-regular fa-circle" name="Параметры"}}

    <div class="offerCreate__nav-rect"></div>

    {{> OfferCreateStage id="pricePage" class="fa-regular fa-circle" name="Цена"}}

    <div class="offerCreate__nav-rect"></div>

    {{> OfferCreateStage id="photosPage" class="fa-regular fa-circle" name="Фотографии"}}

    <div class="offerCreate__nav-rect"></div>

    {{> OfferCreateStage id="descriptionPage" class="fa-regular fa-circle" name="Описание"}}
</div>