<div class="offerCreate__photos-preview" id="{{index}}">
    <img src="{{src}}" alt="">
    <div class="offerCreate__photos-delete">
        <div class="delete__cross">
            <i class="fa-solid fa-xmark fa-lg" id="delete"></i>
        </div>
    </div>
</div>