<!--<div class="offerCreate__btns-section">-->
<!--{{#if edit}}-->
<!--    {{> RedButton id="offerCreateBtnsDelete" name="Удалить"}}-->
<!--    {{> LightButton id="offerCreateBtnsSave" name="Сохранить"}}-->
<!--{{else}}-->
<!--&lt;!&ndash;    {{> LightButton id="offerCreateBtnsSaveDraft" name="Сохранить как черновик"}}&ndash;&gt;-->
<!--{{/if}}-->
<!--</div>-->
<div class="offerCreate__btns-section">
{{#if firstPage}}
    {{> PrimaryButton id="offerCreateBtnsNext" name="Дальше"}}
{{else}}
    {{> LightButton id="offerCreateBtnsBack" name="Назад"}}
    {{#if lastPage}}
        {{> PrimaryButton id="offerCreateBtnsSubmit" name="Завершить"}}
    {{else}}
        {{> PrimaryButton id="offerCreateBtnsNext" name="Дальше"}}
    {{/if}}
{{/if}}
</div>
