<div class="filter__select">
    <button id="{{id}}Button" class="filter__select-button {{class}}">{{name}}</button>
    <div id="{{id}}Popup" class="filter__select-popup">
        {{> FilterDoubleInput id=id type="text"}}
    </div>
</div>