{{#> OfferCreateLayout grey=true}}
<div class="offerCreate__photos">
    <div class="offerCreate__photos-input" id="offerCreatePhotosInputBlock">
        <input id="offerCreatePhotosInput" type="file" accept=".jpg,.JPG,.jpeg,.JPEG,.png,.PNG" multiple>
        {{> PrimaryButton id="offerCreatePhotosButton" class="offerCreate__photos-button" name="Выбрать файл"}}
        <span class="offerCreate__photos-label">Или перетащите файл(ы) для загрузки (Форматы: png, jpeg, jpg)</span>
    </div>
    <div class="offerCreate__photos-previews" id="offerCreatePhotosPreviews">

    </div>
</div>
{{/ OfferCreateLayout }}