<header class="header" id="header-authorized" hidden="hidden">
    <div class="container">
        <div class="header__inner">
            {{> Logo }}
            <div class="header__right">
                <div class="header__icons">
                    <a class="header__favour-href" href="/">
                        <i class="fa-regular fa-heart"></i>
                    </a>
                    <a class="header__notice-href" href="/">
                        <i class="fa-regular fa-bell"></i>
                    </a>
                </div>
                <div class="header__auth">
                     <div class ="header__name"></div>
                    {{> UserImage avatar="/resources/img/userimage/unknown.svg" }}
                    {{> LightButton name="Выйти" id="logoutButton"}}

                </div>
            </div>
        </div>
    </div>
</header>