<div class="offerCreate__title">
    <h2 class="offerCreate__title-start">Создать объявление</h2>
    <ul>
        <li id="offerCreateTitleType"></li>
        <li id="offerCreateTitleAddress"></li>
        <li id="offerCreateTitleParams"></li>
        <li id="offerCreateTitlePrice"></li>
    </ul>
</div>