<div class="profile__preview">
    <img src="/img/card/photo.jpg" alt="" class="profile__offer-img">
    <div class="profile__preview-right">
        <span class="profile__preview-title">{{title}}</span>
        <span class="profile__preview-address">{{address}}</span>
    </div>
</div>