<div class="profile__preview" data-id="{{id}}">
    <div class="profile__preview-img-wrapper">
        <img src="{{image}}" alt="" class="profile__preview-img">
    </div>
    <div class="profile__preview-right">
        <span class="profile__preview-title">{{title}}</span>
        <span class="profile__preview-address">{{address}}</span>
    </div>
</div>