<div class="address__container">
    {{> ClearInput id=id name=name type=type placeholder=placeholder autocomplete="off"}}
    <div class="address__list" id="{{id}}__address__list" style="display: none">
        <button class="filter__check-elem address__list-component">123</button>
        <button class="filter__check-elem address__list-component">123</button>
    </div>
</div>