<div class="marker" data-id="{{id}}">
    <img class="marker__icon" src="/img/map/housePlacemark.svg" alt="">
    <div id="balloonWrapper" class="balloon__wrapper">
        {{> Balloon data=data}}
    </div>
</div>

