<div class="profile__left">
    <div class="profile__info">
        {{> UserAvatar class="profile__avatar" avatar="/resources/img/userimage/unknown.svg" }}
        <div class="profile__data">
            <div class="profile__data-field">
                <span class="profile__data-label">Имя</span>
                <span class="profile__data-text">Иванов Иван</span>
            </div>
            <div class="profile__data-field">
                <span class="profile__data-label">Email</span>
                <span class="profile__data-text">ivanov_ivan@ya.ru</span>
            </div>
        </div>
        <a href="#" class="profile__data-change">Изменить данные</a>
    </div>
    <div class="profile__nav">
        <button class="profile__nav-btn active" id="profileMainButton">Профиль</button>
        <button class="profile__nav-btn">Избранное</button>
        <button class="profile__nav-btn" id="offerCreateButton">Создать объявление</button>
        <button class="profile__nav-btn" id="profileMyOffersButton">Мои объявления</button>
        <button class="profile__nav-btn">Настройки профиля</button>
    </div>
    <button class="profile__nav-btn profile__nav-logout" id="profileLogoutButton">Выйти</button>
</div>