<div class="offerCreate__btns">
    <div class="offerCreate__btns-section">
        {{> RedButton id="offerCreateBtnsDelete" name="Удалить"}}
        {{> LightButton id="offerCreateBtnsSave" name="Сохранить как черновик"}}
    </div>
    <div class="offerCreate__btns-section">
        {{> LightButton id="offerCreateBtnsBack" name="Назад"}}
        {{> PrimaryButton id="offerCreateBtnsNext" name="Дальше"}}
    </div>
</div>