<div class="offerCreate__btns">
    <div class="offerCreate__btns-section">
        {{> RedButton name="Удалить"}}
        {{> LightButton name="Сохранить как черновик"}}
    </div>
    <div class="offerCreate__btns-section">
        {{> LightButton name="Назад"}}
        {{> PrimaryButton name="Дальше"}}
    </div>
</div>