{{#> ProfileLayout}}
    <div class="profile__right-nav" id="profile-right-nav">
        <a class="profile__right-nav-href active" href="#" id="myOffersClosed" data-tab="0" data-offerstatus="">Все</a>
        <a class="profile__right-nav-href" href="#" id="myOffersActive" data-tab="1" data-offerstatus="1">Продажа</a>
        <a class="profile__right-nav-href" href="#" id="myOffersDraft" data-tab="2" data-offerstatus="2">Аренда</a>
    </div>
    <div class="profile__right-list" id="profile-right-list">
        {{> ProfileOffer title="Продаётся 1-комн. квартира, 30 м²" metroStation="Славянский бульвар" address="Славянский бул., 13К1" rooms="1" square="30" floor="5" totalFloors="5"}}
        {{> ProfileOffer title="Продаётся 1-комн. квартира, 30 м²" metroStation="Славянский бульвар" address="Славянский бул., 13К1" rooms="1" square="30" floor="5" totalFloors="5"}}
        {{> ProfileOffer title="Продаётся 1-комн. квартира, 30 м²" metroStation="Славянский бульвар" address="Славянский бул., 13К1" rooms="1" square="30" floor="5" totalFloors="5"}}
    </div>
{{/ProfileLayout}}