<div class="popup">
    <div class="popup__header">
        <h3>{{title}}</h3>
        <div class="delete__cross popup__close">
            <i class="fa-solid fa-xmark fa-lg" id="delete"></i>
        </div>
    </div>
    <span>{{details}}</span>
</div>