{{#> MainLayout}}
    <div class="offerDetails">
        <div class="container">
            <div class="offerDetails__inner">
                <div id="offerDetailsHeader" class="offerDetails__header">
                    {{> OfferDetailsHeader data=data }}
                </div>
                <div class="offerDetails__main">
                    <div id="offerDetailsLeft" class="offerDetails__left">
                        {{> OfferDetailsLeft data=data }}
                    </div>
                    <div id="offerDetailsInfo" class="offerDetails__right">
                        {{> OfferDetailsInfo data=data }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{{/MainLayout}}