{{#> MainLayout grey=true}}
    <div class="csatStats">
        <div class="container">
            <div class="csatStats__inner">
                <div class="csatStats__menu">
                    <div class="csatStats__menu-events">
                        {{> LightButton name="create__offer" }}
                        {{> LightButton name="view__offer" }}
                    </div>
                    <div class="csatStats__menu-questions">
                        {{> LightButton name="Как дела?" }}
                        {{> LightButton name="Как жена?" }}
                    </div>
                </div>

                <div id="csatStatsResults" class="csatStats__results">
                    <div class="csatStats__results-mid">
                        <div class="csatStats__results-answers">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{{/MainLayout}}