.offerDetails__left {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 20px;

  &-slider {
    height: 75%;

    img {
      width: 100%;
      height: 100%;
    }
  }

  &-previews {
    display: flex;
    gap: 20px;

    img {
      border-radius: 6px;
      max-width: 100px;
      max-height: 80px;
    }
  }
}