@use "../../abstracts/variables" as *;
.searchMap {
  height: 100%;
  background-color: $grey3;
  //height: calc(100vh - 4.375em);

  &__inner {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 1.25em;
    padding-bottom: 3em;

    @media (max-width: 730px) {
      padding-bottom: 5em;
    }

    @media (max-width: 600px) {
      display: none;
    }
  }

  &__results {
    display: flex;
    flex-direction: column;
    gap: 20px;

    &-container {
      max-width: 1600px;
      margin: 0 auto;
      padding: 0 2%;
      height: 100%;
    }

    &-title, &-empty {
      font-size: 28px;
      font-weight: 600;
      display: none;

      &.active {
        display: block;
      }
    }

    &-empty {
      margin-top: 5%;
      text-align: center;
    }

    &-wrapper {
      display: flex;
      gap: 25px;
    }

    &-list {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      row-gap: 20px;
      align-self: flex-start;

      @media (max-width: 900px) {
        width: 35%;
      }

      @media (max-width: 600px) {
        display: none;
      }

      &-wrapper {
        display: flex;
        width: 50%;
        flex-direction: column;
        gap: 25px;
        padding-bottom: 3.5em;
      }
    }

    &-map {
      width: 50%;
      height: calc(100vh - 4.375em);;
      position: sticky;
      top: 4.375em;

      @media (max-width: 900px) {
        width: 65%;
      }

      @media (max-width: 600px) {
        width: 100%;
      }

      &-control {
        position: absolute;
        z-index: 2000;
        right: 10px;
        top: 10px;
      }

      &-fullscreen {
        @media (max-width: 600px) {
          display: none;
        }
      }

      &-back {
        display: none;
        @media (max-width: 600px) {
          display: block;
        }
      }
    }
  }
}