<div class="offerDetails__left-slider">
    {{> PicturesCarouselPreviews images=images }}
</div>
<div class="offerDetails__left-block">
    <h3 id="offerDetailsHousingComplex" class="offerDetails__left-block-href">
        Жилой комплекс
    </h3>
</div>
<div class="offerDetails__left-block">
    <h3 class="offerDetails__left-block-title">
        Описание
    </h3>
    <span class="offerDetails__left-block-text">
        {{ breakLines description }}
    </span>
</div>
<div id="offerDetailsMap" class="offerDetails__left-map"></div>