<div class="offerDetails__left-slider">
    {{> PicturesCarouselPreviews images=Photos }}
</div>
<div class="offerDetails__left-description">
    <h3 class="offerDetails__left-description-title">
        Описание
    </h3>
    <span class="offerDetails__left-description-text">
        {{Description}}
    </span>
</div>
<div id="offerDetailsMap" class="offerDetails__left-map"></div>