@use "../../abstracts/variables" as *;

.login {
  &__title {
    text-align: center;
    font-weight: 500;
    font-size: 1.375em;
  }

  &__inner, &__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
  }

  &__form {
    width: 100%;

    &-img {
      height: 80px;
      width: 80px;
    }

    &-register {
      width: 100%;
    }

    &-submit {
      width: 100%;
    }
  }
}