{{#> MainLayout}}
    <div class = "carousel-wrapper" id="housingComplexCarousel">
        {{> HousingComplexCarousel data=data}}
    </div>
    <div class = "container" id="housingComplexInformation">
        {{> HousingComplexInformation data=data}}
    </div>
{{/MainLayout}}