{{#> MainLayout}}
    <div class = "carousel-wrapper">
        {{> HousingComplexCarousel data=data}}
    </div>
    <div class = "container">
        {{> HousingComplexInformation data=data}}
    </div>
{{/MainLayout}}