@use "../abstracts/variables" as *;
.search {
  background-color: $profile-bg;
  height: 100vh;

  &__inner {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 1.25em;
    padding-bottom: 3.5em;
    height: 100%;
  }

  &__results {
    display: flex;
    flex-direction: column;
    gap: 20px;

    &-title {
      font-size: 28px;
      font-weight: 600;
    }

    &-list {
      display: flex;
      flex-direction: column;
      gap: 20px;
    }
  }
}