<div class="csat__wrapper">
    <div id="csatCloseButton" class="csat__close">
        <i class="fa-solid fa-xmark fa-lg"></i>
    </div>
    <span class="csat__text">
        Насколько вы удовлетворены процессом создания объявлений?
    </span>
    <div class="csat__select-wrapper">
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
    </div>
    <div class="csat__btns">
        {{> LightButton id="csatNextButton" name="Далее"}}
        {{> RedButton id="csatBackButton" name="Назад"}}
    </div>
</div>