<div class = "carousel__pictures">
        {{#each images}}
            <div class = "carousel__image">
                <img src="{{this}}" alt="{{../alt}}">
            </div>
        {{/each}}
</div>