// Vendor
@import "vendor/__vendor-dir";

// Abstracts
@import "abstracts/__abstracts-dir";

// Base Styles
@import "base/__base-dir";

// Components
@import "components/__components-dir";

// Layout
@import "layouts/__layouts-dir";

/**************************************************************/
/* profileLeft */
/**************************************************************/

.profile__left {
  min-width: 20%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-right: 1px solid $grey;
  padding-right: 10px;
}

.profile__info {
  display: flex;
  flex-direction: column;
  gap: 15px;
  border-bottom: 1px solid $grey;
  padding: 10px;
}

.profile__data {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.profile__data-field {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.profile__data-change {
  color: $blue-link;
  font-weight: 700;
}

.profile__nav {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.profile__nav-btn {
  background-color: $white;
  color: $profile-color-text;
  border-radius: 6px;
  width: 100%;
  text-align: start;
  padding: 8px;
  transition: .2s linear;
}

.profile__nav-btn:hover, .profile__nav-btn.active {
  background-color: $grey2;
}

/**************************************************************/
/* ProfileMain */
/**************************************************************/

.profile__right {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

.profile__blocks {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.profile__block {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: $white;
  border-radius: 12px;
  padding: 10px 15px;
}

.profile__block-title {
  margin-bottom: 15px;
}

.profile__previews {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 20px;
}

.profile__preview {
  display: flex;
  align-items: center;
  border: 1px solid $light-grey;
  padding: 10px;
  gap: 10px;
}

.profile__preview img {
  width: 68px;
  height: 52px;
}

.profile__preview-right {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.profile__preview-address {
  color: $grey;
}

.profile__promotion {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: $white;
  border-radius: 12px;
  padding: 10px 15px;
  width: 100%;
}

.profile__promotion-text {
  line-height: 25px;
}

.profile__promotion-btn {
  width: 25%;
}

/**************************************************************/
/* ProfileMyOffers */
/**************************************************************/

.profile__right-nav {
  display: flex;
  gap: 20px;
}

.profile__right-href {
  color: $blue-link;
  font-weight: 700;
}

.profile__right-href.active {
  color: $black;
}

.profile__list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.profile__offer {
  width: 100%;
  display: flex;
  gap: 25px;
  background-color: $white;
  border-radius: 12px;
  padding: 10px;
}

.profile__offer-left {
  width: 200px;
}

.profile__offer-left img {
  width: 100%;
  height: 100%;
  border-radius: 12px;
}

.profile__offer-right {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.profile__offer-info ul {
  display: flex;
  gap: 0.35em;
}

.profile__offer-address {
  color: $grey;
}

.profile__offer-btns {
  display: flex;
  gap: 12px;
}

/**************************************************************/
/* OfferCreate */
/**************************************************************/

.offerCreate {
  background-color: $profile-bg;
}

.offerCreate__inner {
  padding: 3.5em 0;
  height: 100%;

  display: grid;
  row-gap: 40px;
  column-gap: 75px;
  grid-template-columns: 9fr 2fr;
  grid-template-rows: 1fr 6fr;
  grid-template-areas:
    'title nav'
    'main nav';
}

.offerCreate__nav {
  grid-area: nav;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid $blue;
}

.offerCreate__title {
  grid-area: title;
}

.offerCreate__main {
  grid-area: main;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.offerCreate__title, .offerCreate__main {
  background-color: $white;
  padding: 25px 35px;
  border-radius: 10px;
}

.offerCreate__title-start {
  font-size: 28px;
  font-weight: 600;
}


/**************************************************************/
/* OfferCreateType */
/**************************************************************/

.offerCreate__type-title {
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 22px;
}

.offerCreate__choices {
  display: flex;
  flex-direction: column;
  gap: 22px;
}

.offerCreate__choice {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.offerCreate__choice-label {
  font-size: 22px;
  font-weight: 400;
}

.offerCreate__choice-btns {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

/**************************************************************/
/* ChoiceButton */
/**************************************************************/

.choice-button {
  display: none;
}

.choice-label {
  display: inline-block;
  cursor: pointer;
  padding: 8px 15px;
  border: 1px solid $light-grey;
  border-radius: 6px;
  user-select: none;
}

.choice-button:checked + .choice-label {
  background-color: $btn-bg-2;
  border: 1px solid $darker-blue;
  color: $darker-blue;
}

/**************************************************************/
/* offerCreateBtns */
/**************************************************************/

.offerCreate__btns {
  border-top: 1px solid $grey;
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
}

.offerCreate__btns-section {
  display: flex;
  gap: 25px;
}

.offerCreate__btns-section button {
  font-weight: 600;
  padding-top: 12px;
  padding-bottom: 12px;
}

/**************************************************************/
/* offerCreateNav */
/**************************************************************/

.offerCreate__nav {
  background-color: $white;
  padding: 42px 60px;
  border-radius: 10px;
}

.offerCreate__stage {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 15px;
}

.offerCreate__stage-point-disabled {
  cursor: inherit;
}

.offerCreate__stage-title-disabled {
  color: $grey;
}

.fa-regular.fa-circle-dot, .fa-solid.fa-circle-check {
  color: $blue;
}

.fa-regular.fa-circle{
  color: $light-grey;
}

.offerCreate__rect {
  border: 1px solid $light-grey;
  height: 100%;
  margin-right: 107px;
}

.offerCreate__rect-fill {
  border-color: $blue;
}

/**************************************************************/
/* OfferCreateAddress */
/**************************************************************/

.offerCreate__address {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.offerCreate__address-inputs {
  display: grid;
  grid-template-columns: 45% 15% 15%;
  justify-content: space-between;
}

.offerCreate__input {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.offerCreate__input .input {
  width: inherit;
}

.offerCreate__input-label {
  font-size: 22px;
  /*font-weight: 600;*/
}

.offerCreate__map {
  width: 100%;
  height: 100%;
}

/**************************************************************/
/* OfferCreateParams */
/**************************************************************/

.offerCreate__params {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.offerCreate__params-row {
  display: flex;
  gap: 75px;
}

.offerCreate__params-square {
  max-width: 30%;
}

/**************************************************************/
/* OfferCreatePrice */
/**************************************************************/

.offerCreate__price {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.offerCreate__price-calculation {
  background-color: $profile-bg;
  padding: 22px 25px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.offerCreate__calculation-text {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.offerCreate__calculation-title {
  font-size: 22px;
  font-weight: 600;
}

.offerCreate__calculation-block {
  border: 1px solid $blue;
  border-radius: 8px;
  padding: 15px 15px;
  display: flex;
  gap: 225px;
}

.offerCreate__calculation-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.offerCreate__calculation-price {
  font-size: 22px;
  font-weight: 600;
}

.offerCreate__calculation-label {
  display: flex;
  flex-direction: column;
}

.offerCreate__price-input {
  max-width: 40%;
}

/**************************************************************/
/* OfferCreatePhotos */
/**************************************************************/

.offerCreate__photos {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding-bottom: 40px;
}

.offerCreate__photos-input {
  background-color: $profile-bg;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.offerCreate__photos-hover {
  background-color: $grey;
}

.offerCreate__photos-input input {
  display: none;
}

.offerCreate__photos-previews {
  display: flex;
  gap: 15px;
}

.offerCreate__photos-preview {
  position: relative;
  height: 80px;
}

.offerCreate__photos-preview img {
  height: 100%;
  width: 100%;
}

.offerCreate__photos-delete {
  position: absolute;
  z-index: 1;
  right: 6px;
  top: 6px;
  width: fit-content;
  height: fit-content;

}

/**************************************************************/
/* DeleteCrossButton */
/**************************************************************/

.delete__cross {
  width: 15px;
  height: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  color: $grey;
  transition: color 0.2s ease, color 0.2s ease;
  cursor: pointer;
}

.delete__cross:hover {
  color: $red;
}

.delete__cross i {
  display: flex;
  align-items: center;
  justify-content: center;
}

/**************************************************************/
/* OfferCreateDescription */
/**************************************************************/

.offerCreate__description {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding-bottom: 40px;
}

.offerCreate__description-title {
  font-size: 22px;
  font-weight: 600;
}

.offerCreate__description-textarea {
  width: 100%;
  height: 100%;
  resize: none;
  color: $black-text;
  font-size: 1em;
  padding: 1em;
  border: 1px solid $light-grey;
  border-radius: 6px;
  transition:
          border-color 0.3s ease,
          box-shadow 0.3s ease;
}

.offerCreate__description-textarea:hover{
  border-color: $black-text;
  box-shadow: 0 0 0px;
}

.offerCreate__description-textarea:focus {
  border-color: $darker-blue;
  box-shadow: 0 0 4px $blue-shadow;
}

/**************************************************************/
/* OfferDetails */
/**************************************************************/

.offerDetails__inner {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 25px;
}

.offerDetails__header {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.offerDetails__header-title {
  font-size: 38px;
  font-weight: 600;
}

.offerDetails__header-info {
  display: flex;
  gap: 20px;
}

.offerDetails__header-info ul {
  display: flex;
  gap: 0.35em;
}

.offerDetails__header-address {
  color: $grey;
}

.offerDetails__main {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

/**************************************************************/
/* OfferDetailsLeft */
/**************************************************************/

.offerDetails__left {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.offerDetails__left-slider {
  height: 75%;
}

.offerDetails__left-slider img {
  width: 100%;
  height: 100%;
}

.offerDetails__left-previews {
  display: flex;
  gap: 20px;
}

.offerDetails__left-previews img {
  border-radius: 6px;
  max-width: 100px;
  max-height: 80px;
}

/**************************************************************/
/* OfferDetailsRight */
/**************************************************************/

.offerDetails__right {
  width: 45%;
  height: 100%;
  border: 1px solid $light-grey;
  border-radius: 12px;
  padding: 20px 30px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.offerDetails__right-price {
  font-weight: 700;
  font-size: 36px;
}

.offerDetails__right-info {
  display: grid;
  row-gap: 15px;
  column-gap: 15px;
  grid-template-columns: 1fr 1fr 1fr;
}

.offerDetails__right-btns {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.offerDetails__right-btn {
  padding: 10px 0;
}

.offerDetails__seller {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  padding: 10px;
}

.offerDetails__seller-avatar {
  height: 60px;
  width: 60px;
}

.offerDetails__seller-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
}

.offerDetails__seller-rating {
  display: flex;
  align-items: center;
}

.offerDetails__seller-name {
  color: $blue;
}

.offerDetails__seller-info-small {
  font-size: 12px;
}
